<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.poznan.put.cs.ify.appify"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name="pl.poznan.put.cs.ify.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ify"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="pl.poznan.put.cs.ify.app.YBootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="pl.poznan.put.cs.ify.app.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="pl.poznan.put.cs.ify.core.YReceiptsService"
            android:exported="true"
            android:process="pl.poznan.put.cs.ify.appify.service" />

        <activity
            android:name="pl.poznan.put.cs.ify.app.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="pl.poznan.put.cs.ify.app.RecipesListActivity"
            android:label="@string/title_activity_recipes_list" >
        </activity>
        <activity
            android:name="pl.poznan.put.cs.ify.app.InitializedReceipesActivity"
            android:label="@string/title_activity_initialized_receipes" >
        </activity>
        <activity
            android:name="pl.poznan.put.cs.ify.app.market.MarketActivity"
            android:label="@string/title_activity_market" >
        </activity>
        <activity
            android:name="pl.poznan.put.cs.ify.app.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="pl.poznan.put.cs.ify.app.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDLSP-wcJEd08ICuvCZYLpwGPBHoiMUDvI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="pl.poznan.put.cs.ify.appify.ServiceTest"
            android:label="@string/title_activity_service_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.poznan.put.cs.ify.appify.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>